#tsparticles {
  z-index: 1;
}

#tsparticles:hover {
  background-color: black;
}

.input{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  height: 100vh;
  width: 100%;
}




input {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
  text-decoration: none;
  height: 30px;
  width: 40%;
}
