* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.input {
  position: relative;
  z-index: 5;
}

.input input {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
  text-decoration: none;
  height: 20px;
}
